# Web Scraping using API key

## Importing Libraries used to request data and pandas to store the data in the dataframe

In [10]:
import pandas as pd
import requests

In [11]:
re  = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=f212f46a0ab5c3cd1fcb130038f4a461&language=en-US&page=1')
temp_df = pd.DataFrame(re.json()['results'])[['id', 'title', 'overview', 'vote_average', 'popularity']]
temp_df

,id,title,overview,vote_average,popularity
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",8.7,98.011
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,8.7,76.448
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,8.6,55.326
3,851644,20th Century Girl,Yeon-du asks her best friend Bora to collect a...,8.6,184.442
4,424,Schindler's List,The true story of how businessman Oskar Schind...,8.6,59.261
5,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",8.6,17.986
6,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",8.5,96.424
7,555604,Guillermo del Toro's Pinocchio,During the rise of fascism in Mussolini's Ital...,8.5,2349.042
8,389,12 Angry Men,The defense and the prosecution have rested an...,8.5,34.215
9,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,8.5,92.723
10,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",8.5,79.123
11,372754,Dou kyu sei – Classmates,"Rihito Sajo, an honor student with a perfect s...",8.5,11.908
12,497,The Green Mile,A supernatural tale set on death row in a Sout...,8.5,72.495
13,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,8.5,73.438
14,696374,Gabriel's Inferno,An intriguing and sinful exploration of seduct...,8.5,12.948
15,667257,Impossible Things,"Matilde is a woman who, after the death of her...",8.5,18.936
16,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",8.5,67.839
17,724089,Gabriel's Inferno: Part II,Professor Gabriel Emerson finally learns the t...,8.5,12.584
18,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,8.5,51.875
19,13,Forrest Gump,A man with a low IQ has accomplished great thi...,8.5,60.693

In [12]:
#Created empty dataframe to store data
df  = pd.DataFrame()

## Applied same request module to fetch the data from 100 pages by using for loop

In [14]:
for i in range(1, 101):
    re  = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=f212f46a0ab5c3cd1fcb130038f4a461&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(re.json()['results'])[['id', 'title', 'overview', 'vote_average', 'popularity']]
    df = pd.concat([df, temp_df], ignore_index = True)
    
df

,id,title,overview,vote_average,popularity
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",8.7,98.011
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,8.7,76.448
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,8.6,55.326
3,851644,20th Century Girl,Yeon-du asks her best friend Bora to collect a...,8.6,184.442
4,424,Schindler's List,The true story of how businessman Oskar Schind...,8.6,59.261
...,...,...,...,...,...
1995,283591,The Secret Scripture,The hidden memoir of an elderly woman confined...,7.3,13.375
1996,18874,Ghost in the Shell: Stand Alone Complex – Soli...,"The story takes place in the year 2034, two ye...",7.3,8.672
1997,15774,Swades,A successful Indian scientist returns home to ...,7.3,7.294
1998,293670,The Wailing,A stranger arrives in a little village and soo...,7.3,23.051
1999,498248,Mia and the White Lion,A young girl from London moves to Africa with ...,7.3,17.400

In [15]:
df.shape

(2000, 5)

## Stored Data in csv format using Pandas

In [16]:
df.to_csv('movies.csv')